{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title_text %}Quick Poll{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_link %}
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <!--<link rel="stylesheet" href="{% static "css/custom.css" %}">-->
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-combobox.css" %}">
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
</head>
<body>
    <div id="logo" class="text-center">
        <img src="{% static "images/poll-everywhere.png" %}">
    </div>
    <div id="loading_gif" class="text-center">
        <img src="{% static "images/ajax-loader.gif" %}">
    </div>
    <div id="pages" class="container">
        <div id="message">
            {#% include "message.html" %#}
        </div>

        <!-- Main content of page -->
        <div id="main_content" class="container">
            {% block main_content %}{% endblock %}
        </div>
    </div>

    <!-- Javascript link -->
    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap-combobox.js" %}"></script>
    {% endblock %}
</body>
</html>
