{% load poll_tags %}
<div class="form-group col-md-6 col-md-offset-3">
    <div id="poll_content">
    <label for="poll">Poll's content</label>
    <input type="text" class="form-control" id="poll" placeholder="What is this poll about?">
    </div>
    <div id="option_list">
    <label>Options:</label>
    {% for i in "1234" %}
        <div class="input-group">
            <span class="input-group-addon">{{ i }}</span>
            <input type="text" class="form-control option{{ i|last_option }}" id="option_{{ i }} "placeholder="Leave blank if you don't use it" data-order="{{ i }}">
        </div>
    {% endfor %}
    </div>
    {% csrf_token %}
    <a id="create" class="btn btn-primary" data-role="ajax" href="{% url 'create' %}">Create</a>
</div>
